<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
   <%  @users.each do |user| %>
    <tr>
      <td><%= user.first_name.capitalize + " " + user.last_name.capitalize %></td>
      <td><%= user.email %></td>
      <td><%= link_to user_show_path(user), :remote => true, "data-toggle" => "modal", "data-target" => "#exampleModal", style: "color:black" do %>
          <i class="fa fa-eye fa-lg"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render 'modal' %>
